.wrapper {
    display: flex;
    height: 15px;
    /*width: 150px;*/
    /*background-color: #fcfcfc;*/
    justify-content: space-between;
    /*padding: 10px;*/
    margin: 30px;
}

span {
    margin: 5px;
}

.item {
    cursor: pointer;
}

.item:hover {
    color: white;
}