.wrapper-center {
  margin: 0 auto;

  &__block-paginator--inner {
    width: 300px;
    padding-bottom: 30px;
  }

  &__items-list {
    padding: 20px;
  }
}

.pointer {
  cursor: pointer;
}

.wrapper--inner {
  display: flex;
}

.detail {
  max-width: 600px;
  background-color: aliceblue;
}

.wrapper__app {
  min-height: 700px;
  max-width: 1366px;
  font-size: 16px;
}

.modal__button--inner {
  margin: 10px;
}

.detail-information {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input--inner {
  margin: 30px;
}

.button--inner {
  margin: 30px;
}

.error__basic {
  text-align: center;
  color: red;
}

.modal__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 500px;
  min-height: 200px;
  background-color: white;
  padding-top: 30px;
}

.header__wrapper {
  flex-direction: column;
  max-width: 700px;
  min-height: 200px;
  padding-right: 20px;

  &__info {
    min-height: 75px;
  }
}

.header__cart--color {
  color: green;
}

.modal__message--color {
  color: green;
}

.header__cart {
  flex-direction: row-reverse;

  &--img {
    height: 70px;

    &:hover {
      opacity: 50%;
    }
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1000;
}

.modal__name {
  font-size: 14px;
  font-weight: bold;

  &--inner {
    margin: 30px;
  }
}

.cart-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.modal__cell-sizes {
  min-width: 90px;
  height: 40px;
  padding-right: 5px;
}

.modal__cell-sizes--button {
  min-width: 30px;

}

.modal__cell-sizes--price {
  min-width: 120px;
}

.preloader__inner {
  color: green;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &--img {
    color: green;
    width: 50px;
  }
}

.cart-items__wrapper--inner {
  flex-direction: row;
}

.wrapper__header-content {
  display: inline-block;
  height: 15px;
  margin: 15px;
}

.header__item {
  margin: 10px;

  &:hover {
    color: green;
  }
}

.header__cart__wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.paginator__page {
  padding: 5px;

  &__selected {
    font-weight: bold;
  }
}

.item-content--cell {
  padding: 5px;
}

.highcharts-input-group {
  display: none;
}

.wrapper__content__button {
  position: relative;
  z-index: 1;
}

.wrapper__content {
  position: relative;
  z-index: 2;
}

.item-content--symbol:hover {
  color: green;
}

.item-content--name:hover {
  color: green;
}

@media screen and (max-width: 700px) {
  .header__wrapper__info {
    width: 100%;
  }
  .wrapper__header-content {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-right: 20px;
  }
  .header__cart {
    justify-content: center;
  }
  .header__cart--inner {
    padding-top: 15px;
  }
  .hidden {
    display: none;
  }
  .width {
    width: 750px;
  }
  .cart-items__wrapper--inner {
  }
  .header__cart__wrapper--revers {
    flex-direction: column-reverse;
    padding-right: 20px;
  }
  .header__cart__wrapper {
    justify-content: center;

  }
  .modal__wrapper-button {
    flex-direction: row;
  }
}

