.button_wrapper_styles  {
    position: relative;
    zIndex: 1;
}

.other_content_styles {
    position: relative;
    z-index: 2;
}

td {
    padding: 5px;
}

.name {
    cursor: pointer;
}

.symbol {
    cursor: pointer;
}

.bue {
    cursor: pointer;
}