.button_wrapper_styles {
    position: relative;
    zindex: 1;
}
.other_content_styles {
    position: relative;
    z-index: 2;
}
td {
    padding: 5px;
}
.name {
    cursor: pointer;
&:hover {
     color: white;
 }
}
.symbol {
    cursor: pointer;
&:hover {
     color: white;
 }
}
.bue {
    cursor: pointer;
}