.wrapper__button_styles {
  position: relative;
  z-index: 1;
}

.content__other_styles {
  position: relative;
  z-index: 2;
}

td {
  padding: 5px;
}

.name {
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.symbol {
  cursor: pointer;

  &:hover {
    color: white;
  }
}

.bue {
  cursor: pointer;
}