.wrapper {
    min-height: 700px;
    max-width: 1366px;
}

.centre {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f3f3f3;
    padding: 10px;
}

.wrapperChart {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 40px;
}

h3 {
    display: block;
    text-align: center;
    padding: 10px;
}

.wrapperButton {
    margin: 10px;
}
