.paginator {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.paginator__prev_inner {
  width: 42px;
  padding-right: 10px;
}

.paginator__next_inner {
  width: 42px;
  padding-left: 10px;
}

.paginator__page {
  margin: 5px;
  cursor: pointer;
}

.selected {
  color: green;
  font-weight: bold;
}